[Unit]
Description=Video To Audio Bot Service
After=network.target

[Service]
ExecStart=/root/tg-bots/vid2aud-bot-2/env/bin/python /root/tg-bots/vid2aud-bot-2/main.py
WorkingDirectory=/root/tg-bots/vid2aud-bot-2
Restart=always
RestartSec=1
User=root
Group=
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target